#btn_plugins_fullcard {
    padding-top:30px!important;
    padding-left: 0!important;
    display: block;
    background-position: 50% 5px, 50% 50%!important;
    background-repeat: no-repeat, repeat!important;
}
#btn_plugins_fullcard {
	background-image:url(images/fullcard.png), url("../../../../templates/default/jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btn_plugins_fullcard.ui-state-hover {
	background-image: url(images/fullcard.png), url("../../../../templates/default/jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}